<% @comments.each do |comment| %>
  <p><strong><%= comment.user.name + " " + comment.created_at.strftime("left a comment on %B %d, %Y:") %></strong><br>
  <%= comment.body %> <%= link_to "(edit)", edit_post_comment_path(@post.id, comment) if comment.user.id == current_user.id %></p>
<% end %>