<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.sort_by {|k,v| k[:role]}.reverse.each do |user| %>

  <div>
    
    <%= render partial: "display", locals: {user: user} %>

    <%= render partial: "admin", locals: {user: user} %>

  </div>
<% end %>
