<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% if !User.best_users.empty? && admin %>
  <strong>Top Rated Employees</strong>
  <% User.best_users.each do |user| %>
    <br>- <%= link_to "#{user.name}, #{user.role}", user_path(user) %>
  <% end %><br><br>
<% end %>

<table id="user_index">
  <% @users.sort_by {|k,v| k[:role]}.reverse.in_groups_of(4, false).each do |user_array| %>
    <tr>
      <% user_array.each do |user| %>
            
        <td><div><%= render partial: "display", locals: {user: user} %>

        <%= render partial: "admin", locals: {user: user} %>

        <%= render partial: "shift", locals: {user: user} %></div></td>

      <% end %>
    </tr>
  <% end %>
</table>