<h1>Schedule#index</h1>
<p>Find me in app/views/schedule/index.html.erb</p>

<table style="width:100%">
  <tr id="days">
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  <tr>

  <tr id="shift_name">
    <td align="center">Shift 1</td>
    <td align="center">Shift 2</td> 
    <td align="center">Shift 3</td>
    <td align="center">Shift 4</td>
    <td align="center">Shift 5</td>
    <td align="center">Shift 6</td>
    <td align="center">Shift 7</td>
  </tr>

  <tr id="shift_time">
    <td align="center">Time</td>
    <td align="center">Time</td> 
    <td align="center">Time</td>
    <td align="center">Time</td>
    <td align="center">Time</td>
    <td align="center">Time</td>
    <td align="center">Time</td>
  </tr>

  <tr id="shift_location">
    <td align="center">Location</td>
    <td align="center">Location</td> 
    <td align="center">Location</td>
    <td align="center">Location</td>
    <td align="center">Location</td>
    <td align="center">Location</td>
    <td align="center">Location</td>
  </tr>

</table>

<!-- 
<table>
  <tbody>


    <tr id="Monday">
      <td>Shift 1</td>
    </tr>

    <tr id="Tuesday">
      
    </tr>

    <tr id="">
    </tr>

    <tr id="">
    </tr>

    <tr id="">
    </tr>

    <tr id="">
    </tr>

    <tr id="">
    <td>Shift 2</td>
    </tr>
  </tbody>
</table> -->