<h2><%= @user.name.split(" ")[0] %>'s Request</h2>
<em>Last updated on <%= @request.updated_at.strftime("%A, %b #{Time.now.strftime("%e")}") %></em><br>

<%= render partial: "availability", locals: {user: @user, request: @request} %><br>