  <h1>Posts#index</h1>
  <p>Find me in app/views/posts/index.html.erb</p>

  <% @posts.each do |post| %>
    <p><strong><%= post.title %></strong><br>
    <em>By <%= post.user.name %></em></p>
    <p><%= post.body %></p>
  <% end %>