<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= render partial: "form", locals: {post: @post} %>

<div id="postResult">
  <h2 id="postTitle"></h2>
  <p id="postBody"></p>
</div>
 
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
 
      var values = $(this).serialize();
      var posting = $.post('/posts', values);
 
      posting.done(function(data) {
        var post = data["post"];
        $("#postTitle").text(post["title"]);
        $("#postBody").text(post["body"]);
      });
    });
  });
</script>