// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_panel {
  display: none;
}

.shift_panel {
  display: none;
}

table.users { 
  table-layout: fixed; 
  width: 100%;
}

table.users td div { 
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}

table.users td {
  height: 0px;
}